{% extends 'pura/main.html' %}
{% block content %}

<div>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
           <ul class="navbar-nav">
                <li>
                    <a class="btn btn-outline-primary" href="{{ previous_month }}">Previous</a>
                </li>
            </ul>
             <ul class="navbar-nav">
                <li>
                    <a class="btn btn-outline-primary" href="#">Today</a>
                </li>
            </ul>


            <ul class="navbar-nav">
                <li>
                    <a class="btn btn-outline-primary" href="{{ next_month }}">Next</a>
                </li>
            </ul>

        </div>
    </nav>
</div>

    <h5 class="text-center">Account Information</h5>
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center  mb-3">
			  	<div class="card-header text-center bg-info">
			  		<h5 class="card-title ">Total Tk Collect</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ monthly_result.tk_collect }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center mb-3">
			  	<div class="card-header text-center bg-warning">
			  		<h5 class="card-title">Total Cost</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ total_cost }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center mb-3">
			  	<div class="card-header text-center bg-success">
			  		<h5 class="card-title">Profit</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ profit }}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-5">

		<div class="card card-body">
			<h6 class="btn btn-primary  btn-sm btn-block">Summary of this month</h6>
			<table class="table table-sm">
				<tr class="table-secondary">
					<th>Title</th>
					<th>Number/Amount</th>
				</tr>

    <tbody>
        <tr class="table-info">
          <td>Total Customer</td>
          <td>{{ customer_number }}</td>
        </tr>
        <tr class="table-info">
          <td>Total Staff</td>
          <td>{{ staff_number }}</td>
        </tr>
       <tr class="table-warning">
        <td>Total Jar Given</td>
        <td>{{ monthly_result.jar_given }}</td>
       </tr>
       <tr class="table-warning">
        <td>Total Jar Collect</td>
        <td>{{ monthly_result.jar_collect }}</td>
       </tr>
       <tr class="table-warning">
        <td>Total Jar Due</td>
        <td>{{ monthly_result.jar_previous_due }}</td>
       </tr>
       <tr class="table-danger">
        <td>Total Bill</td>
        <td>{{ monthly_result.total_taka }}</td>
       </tr>
       <tr class="table-danger">
        <td>Total Taka Collect</td>
        <td>{{ monthly_result.tk_collect }}</td>
       </tr>
       <tr class="table-danger">
        <td>Total Due</td>
        <td>{{ monthly_result.tk_previous_due }}</td>
       </tr>
       <tr class="table-primary">
        <td>Staff Salary</td>
        <td>{{ staff_total }}</td>
       </tr>
       <tr class="table-primary">
        <td>Other Cost Total</td>
        <td>{{ others_total }}</td>
       </tr>
       <tr class="table-primary">
        <td>Total Cost</td>
        <td>{{ total_cost }}</td>
       </tr>
       <tr class="table-success">
        <td>Profit</td>
        <td>{{ profit }}</td>
       </tr>
    </tbody>

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<div class="card card-body">
			<h6 class="btn btn-primary  btn-sm btn-block" >Staff Summary</h6>
			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Jar Given</th>
					<th>Jar Collect</th>
                    <th>Jar Due</th>
					<th>Total Bill</th>
					<th>Tk Collect</th>
                    <th>Tk Due</th>
				</tr>

            {% for s in staffs_overview_list %}
                <tr>
					<th>{{ s.name }}</th>
					<th>{{ s.jar_given }}</th>
					<th>{{ s.jar_collect }}</th>
					<th>{{ s.due }}</th>
					<th>{{ s.total_taka }}</th>
					<th>{{ s.tk_collect }}</th>
					<th>{{ s.tk__due }}</th>
				</tr>
            {% endfor %}
			</table>
		</div>
        <br>
        <div class="card card-body">
			<h6 class="btn btn-primary  btn-sm btn-block" >Cost Details</h6>
			<table class="table table-sm">
				<tr>
					<th>Date</th>
					<th>Cost Name</th>
					<th>Cost Amount</th>
				</tr>
                {% for c in cost %}
                <tr>
					<th>{{ c.created }}</th>
					<th>{{ c.cost_details }}</th>
					<th>{{ c.cost_amount }}</th>
				</tr>
                {% endfor %}
			</table>
		</div>

	</div>


</div>

{% endblock %}
