{% extends 'pura/main.html' %}



<script>
    function print(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }
</script>


{% block content %}

<style>
    table, tr, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 0px;
        height: 35px;
    }
</style>


<div>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
          <ul class="nav nav-pills">
           <!--   <a class="btn btn-outline-primary" href="#">Previous</a>   -->
          </ul>
            <h5 class="text-center"></h5>
            <ul class="navbar-nav">
                <li>
                    <button type="button" onclick="print('print')" class="btn btn-outline-danger" href="#">Print</button>
                <!--    <a class="btn btn-outline-primary" href="#">Next</a>   -->
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Day's Navber Item -->

<!--
<div>
    <nav class="navbar navbar-dark bg-dark text-light navbar-expand-sm">
        <div class="container">
         <ul class="nav nav-pills">
            <li class="nav-item">
             <h5>Date: {{ today }}</h5>
           </li>
         </ul>
         <h5 class="text-center">Staff Name: {{ staff.name }}</h5>
            <ul class="navbar-nav">

            </ul>
        </div>
    </nav>
</div>
-->




 <div class="px-5" id="print">

 <h5 class="text-center">PURA Drinking Water</h5>
 <p class="text-center">286,Mohammad Para,Gopalganj,8100</p>

<h5  class="text-center">Date: {{ today|date:"D d M Y" }} &emsp;&emsp;&emsp;&emsp;{{ staff.name }} Daily Refill Chart</h5>
 
    <table style="width:45%;display: inline-table;">
  <thead class="thead-light text-center" style="border-color: black">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tk Due</th>
      <th scope="col">Jar Due</th>
      <th scope="col">Jar Given</th>
      <th scope="col">Jar Collect</th>
      <th scope="col">Tk Collect</th>
    </tr>
  </thead>
  <tbody style="border-color: black">
  {% for ca in customers_col1 %}

    <tr >
      <td class="text-center">{{ ca.id }}</td>
      <td class="text-center">{{ ca.tk_previous_due }}</td>
      <td class="text-center">{{ ca.jar_previous_due }}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    <table style="width:45%;display: inline-table;">
  <thead class="thead-light text-center">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tk Due</th>
      <th scope="col">Jar Due</th>
      <th scope="col">Jar Given</th>
      <th scope="col">Jar Collect</th>
      <th scope="col">Tk Collect</th>
    </tr>
  </thead>
  <tbody>
  {% for ca in customers_col2 %}
    <tr>
      <td class="text-center">{{ ca.id }}</td>
      <td class="text-center">{{ ca.tk_previous_due }}</td>
      <td class="text-center">{{ ca.jar_previous_due }}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    </div>



<!-- Two Column using nav bar -->
<!--

<div class="row">
  <div class="col-sm-6">
    <div class="card ">
      <div class="card-body ">
   <table >
  <thead class="thead-light text-center" style="border-color: black">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tk Due</th>
      <th scope="col">Jar Due</th>
      <th scope="col">Jar Given</th>
      <th scope="col">Jar Collect</th>
      <th scope="col">Tk Collect</th>
    </tr>
  </thead>
  <tbody style="border-color: black">
  {% for ca in customers %}
    <tr>
      <td class="text-center">{{ ca.id }}</td>
      <td class="text-center">{{ ca.tk_previous_due }}</td>
      <td class="text-center">{{ ca.jar_previous_due }}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">

          <table>
  <thead class="thead-light text-center" style="border-color: black">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tk Due</th>
      <th scope="col">Jar Due</th>
      <th scope="col">Jar Given</th>
      <th scope="col">Jar Collect</th>
      <th scope="col">Tk Collect</th>
    </tr>
  </thead>
  <tbody style="border-color: black">
  {% for ca in customers %}
    <tr>
      <td class="text-center">{{ ca.id }}</td>
      <td class="text-center">{{ ca.tk_previous_due }}</td>
      <td class="text-center">{{ ca.jar_previous_due }}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

      </div>
    </div>
  </div>
</div>

-->


{% endblock %}


