<style>
    .hello-msg{
        font-size: 18px;
        color: white;
        margin-right: 20px;
    }
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="{% url 'home' %}">Purera</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <!--
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      -->


      <li class="nav-item">
        <a class="nav-link" href="{% url 'customer' %}">Customer</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'staff' %}">Staff</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'order' %}">Order</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'cost' %}">Cost</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'guideline' %}">Guideline</a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>

    </ul>
<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->
  </div>

    <span class="hello-msg">Hello, {{ request.user }}</span>
    <span ><a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a></span>

</nav>